* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.btn-container {
  text-align: center;
  margin: 10px 0;
}

div.btn-container > button:hover {
  cursor: pointer;
}

div.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  background-color: rgb(59, 59, 59);
  margin: 0 auto;
}

div.grid-container > div.grid-item {
  background-color: #ccc;
  width: calc(100% / 16);
  height: calc(100% / 16);
  /* border: 0.5px solid #7c7c7c; */
}
